@font-face{
    font-family: "Montserrat";
    src: url("C:\Users\DavidR\OneDrive\RESIDENTES PRIMER AÑO 2016 MFYC\2016 A JULIO A SEPTIEMBRE\Documentos\TallerProgWeb\estilos02\Montserrat\static\Montserrat-BoldItalic.ttf") format("truetype");
    font-weight: 400;
}